<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section1</key>
	<array>
		<dict>
			<key>icon</key>
			<string>img1.jpg</string>
			<key>intro</key>
			<string>intro1</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img2.jpg</string>
			<key>intro</key>
			<string>intro2</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img3.jpg</string>
			<key>intro</key>
			<string>intro3</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img4.jpg</string>
			<key>intro</key>
			<string>intro4</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img5.jpg</string>
			<key>intro</key>
			<string>intro5</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img6.jpg</string>
			<key>intro</key>
			<string>intro6</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img7.jpg</string>
			<key>intro</key>
			<string>intro7</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img8.jpg</string>
			<key>intro</key>
			<string>intro8</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img9.jpg</string>
			<key>intro</key>
			<string>intro9</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img10.jpg</string>
			<key>intro</key>
			<string>intro10</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
	</array>
	<key>section2</key>
	<array>
		<dict>
			<key>icon</key>
			<string>img1.jpg</string>
			<key>intro</key>
			<string>intro1</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img2.jpg</string>
			<key>intro</key>
			<string>intro2</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img3.jpg</string>
			<key>intro</key>
			<string>intro3</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img4.jpg</string>
			<key>intro</key>
			<string>intro4</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img5.jpg</string>
			<key>intro</key>
			<string>intro5</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img6.jpg</string>
			<key>intro</key>
			<string>intro6</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img7.jpg</string>
			<key>intro</key>
			<string>intro7</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img8.jpg</string>
			<key>intro</key>
			<string>intro8</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img9.jpg</string>
			<key>intro</key>
			<string>intro9</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img10.jpg</string>
			<key>intro</key>
			<string>intro10</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
	</array>
	<key>section3</key>
	<array>
		<dict>
			<key>icon</key>
			<string>img1.jpg</string>
			<key>intro</key>
			<string>intro1</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img2.jpg</string>
			<key>intro</key>
			<string>intro2</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img3.jpg</string>
			<key>intro</key>
			<string>intro3</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img4.jpg</string>
			<key>intro</key>
			<string>intro4</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img5.jpg</string>
			<key>intro</key>
			<string>intro5</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img6.jpg</string>
			<key>intro</key>
			<string>intro6</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img7.jpg</string>
			<key>intro</key>
			<string>intro7</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img8.jpg</string>
			<key>intro</key>
			<string>intro8</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img9.jpg</string>
			<key>intro</key>
			<string>intro9</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img10.jpg</string>
			<key>intro</key>
			<string>intro10</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
	</array>
	<key>section4</key>
	<array>
		<dict>
			<key>icon</key>
			<string>img1.jpg</string>
			<key>intro</key>
			<string>intro1</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img2.jpg</string>
			<key>intro</key>
			<string>intro2</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img3.jpg</string>
			<key>intro</key>
			<string>intro3</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img4.jpg</string>
			<key>intro</key>
			<string>intro4</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img5.jpg</string>
			<key>intro</key>
			<string>intro5</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img6.jpg</string>
			<key>intro</key>
			<string>intro6</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img7.jpg</string>
			<key>intro</key>
			<string>intro7</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img8.jpg</string>
			<key>intro</key>
			<string>intro8</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img9.jpg</string>
			<key>intro</key>
			<string>intro9</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img10.jpg</string>
			<key>intro</key>
			<string>intro10</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
	</array>
	<key>section5</key>
	<array>
		<dict>
			<key>icon</key>
			<string>img1.jpg</string>
			<key>intro</key>
			<string>intro1</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img2.jpg</string>
			<key>intro</key>
			<string>intro2</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img3.jpg</string>
			<key>intro</key>
			<string>intro3</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img4.jpg</string>
			<key>intro</key>
			<string>intro4</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img5.jpg</string>
			<key>intro</key>
			<string>intro5</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img6.jpg</string>
			<key>intro</key>
			<string>intro6</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img7.jpg</string>
			<key>intro</key>
			<string>intro7</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img8.jpg</string>
			<key>intro</key>
			<string>intro8</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img9.jpg</string>
			<key>intro</key>
			<string>intro9</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img10.jpg</string>
			<key>intro</key>
			<string>intro10</string>
			<key>btn</key>
			<string>detail</string>
		</dict>
	</array>
</dict>
</plist>
